background*.jpg
background_gamelist_left.png
next_pixel_mix_overlay.png
gamelist_background.png
gamelist_border.png
system_carousel_vertical_wheel_background.png
system_carousel_vertical_wheel_border.png
mix/overlay/*.png
next_pixel_screenshot.xml
next_pixel_screenshot_title.xml
16x9-1080p
16x9-720p
16x9-480p
4x3-768p
4x3-240p
CONTRIBUTE.md